* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    list-style: none;
}

.recipe-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0;
}

/* Top Content */

.recipe-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    margin-bottom: 30px;
}

.recipe-pic-name {
    display: flex;
    flex-direction: column;
}

.recipe-info {
    display: flex;
    flex-direction: column;
}

/* Middle Content */

.recipe-middle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 850px;
    margin-bottom: 30px;
    align-items: center;
}

.ingredients {
    display: flex;
    flex-direction: column;
}

.ingredients ul {
    padding-left: 20px;
    margin-bottom: 10px;
}

.ingredients li {
    list-style: square;
}

.ingredients li:first-child {
    margin-top: 10px;
}

.ingredients input {
    padding-left: 5px;
}

.recipe-owner {
    display: flex;
    flex-direction: column;
    margin-right: 210px;
}

.recipe-owner-pic {
    background: #3f3f3f;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

/* Bottom Content */

.recipe-bottom {
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.instruction input {
    padding-left:5px;
}
