* {
    margin: 0;
}

.recipe-edit-parent {
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.recipe-edit {
    margin-top: 40px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    padding-right: 15px;
}

.recipe-edit-top {
    display: flex;
   justify-content: space-evenly;
   padding-top: 10px;
}

.recipe-edit-top-left {
    display:flex;
    flex-direction: column;
}

.recipe-edit-img-parent {
    border: 1px solid #e2e1e1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
}

.recipe-edit-img {
    display: flex;
    justify-content: center;
}

.recipe-edit-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.recipe-edit-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    font-family: sans-serif;
}

.recipe-edit-top-right {
    display: flex;
    margin-top: 50px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e2e1e1;
    height: fit-content;
    border-radius: 10px;
    font-family: sans-serif;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
}

.recipe-edit-top-right label {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.recipe-edit-top-right select {
    border-radius: 20px;
    padding: 2px;
    font-size: 16px;
}

.recipe-edit-save {
    background-color: rgba(121, 217, 207, 0.753);
    border-radius: 5px;
    width: 100px;
    height: 25px;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid gray;
}

.recipe-edit-save:hover {
    background-color: rgba(140, 255, 244, 0.753)
}

.recipe-edit-bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    padding-bottom: 15px;
    font-family: sans-serif;
}

.recipe-edit-bottom-right {
    display: flex;
    flex-direction: column;
}

.recipe-edit-owner {
    display: flex;
    padding-bottom: 15px;
    padding-top: 10px;    
}

.recipe-edit-owner-right h5 {
    font-size: 22px;
}

.recipe-edit-owner img {
    border-radius: 50%;
    object-fit: cover;
    height: 75px;
    width: 75px;
    background-color: black;
    border: 1px solid black;
}

.recipe-edit-owner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.recipe-edit-delete {
    margin-top: 5px;
    background-color: rgb(148, 0, 0);
    border-radius: 5px;
    width: 120px;
    color: white;
    font-size: 16px;
    border: 1px solid rgb(148, 0, 0);
    cursor: pointer;
}

.recipe-edit-delete:hover {
    background-color: rgb(255, 0, 0);
}

.recipe-edit-bottom-left {
    display: flex;
    width: 480px;
    justify-content: space-evenly;
}

.recipe-edit-ingredients label {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e2e1e1;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-family: sans-serif;
}

.recipe-edit-ingredients {
    width: 200px;
}

.recipe-edit-instructions {
    width: 200px;
}

.recipe-edit-instructions label {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e2e1e1;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-family: sans-serif;

}

.recipe-edit-bottom-left input {
    font-size: 16px;
}

.recipe-edit-bottom-left li {
    padding: 2px;
}

.recipe-edit-bottom-left ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-edit-bottom-left button {
    background: transparent;
    border: none;
    font-size: 20px;
    padding-left: 5px;
}

.recipe-edit-story {
    margin-bottom: 5px;
}

.recipe-edit-bottom-right textarea {
    font-size: 14px;
    padding-top: 5px;
    width: 300px;
    height: 331px;
    padding-left: 5px;
    resize: none;
    border: 1px solid #e2e1e1;
    border-radius: 5px;
    font-family: sans-serif;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
}

.recipe-edit-bottom-right textarea:focus {
    outline: none;
}

.recipe-edit-bottom-last-input {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.recipe-edit-bottom-last-input textarea {
    margin-left: 6px;
    height: 32px;
    width: 177px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.recipe-edit-owner-label {
    font-size: 22px;
}

.recipe-edit-story {
    font-size: 22px;
    display: flex;
    justify-content: center;
    
}

.recipe-edit-buttons {
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
   
}

.recipe-edit-buttons button {
    font-family: sans-serif;
}

.recipe-edit-textarea {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}