* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    /* list-style: none; */
    font-family: 'Roboto', sans-serif;
}

.recipe-show-container {
    display: flex;
    flex-direction: column;
    width: 750px;
    margin: 0 auto;
}

.recipe-show-info {
    display: flex;
    justify-content: space-between;
}

.recipe-pic {
    width: 200px;
    height: 150px;
    background: black;
}

.recipe-detail-info {
    display: flex;
}

.recipe-show-ing-inst {
    margin-top: 30px;
}

.recipe-inst-list li {
    list-style:upper-roman;
}