* {
    outline: none;
    font-family: sans-serif;
}

.page{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-container-session {
    margin-left: auto;
    margin-right: auto;
    margin-top:75px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 700px;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
}

h1{
    font-size: 30px;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
}
h2{
    align-content: center;
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.form{
    display:flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    border: rgb(250, 245, 245) solid 5px;
  

}

.input-field{
      border: solid 1px grey;
      margin-bottom: 10px;
      padding: 5px;
      background-color: white;
}

.submit-button{
    background-color: rgb(29, 102, 85);
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor:pointer;
    border: none;
    border-radius: 4px;
}

.submit-button:hover{
    background-color: rgb(30, 144, 117);
}

.login-demo-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    width: 100%;
    font-size: 20px;
    border-radius: 4px;
    margin-bottom: 25px;

    color: white;
    background-color: #00797d;
    cursor: pointer;
}

.login-demo-button:hover {
    background-color: rgb(2, 169, 175);
}

.signup-option{
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-top: 20px;
}

.signup-button{
    background-color:rgb(255, 183, 0);
    color: black;
    padding: 7px;
    padding: 10px 200px;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.signup-button:hover{
    background-color:rgb(250, 198, 68);
}

.checkbox-container{
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
}

.checkbox-col-1{
    display:flex;
    flex-direction: column;
    padding:10px;
}

.checkbox-col-2{
    display:flex;
    flex-direction: column;
    padding:10px;
 
}

.checkbox-main-container{
    padding: 5px;
    width: 350px;
    margin-left: 100px;
    border: rgb(250, 245, 245) solid 5px;
}

/* signup container */

.form-container-session-sign {
    margin-right: auto;
    margin-left: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
    margin-bottom: 50px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 40px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);

    width: 800px;
    height: auto;
}

.login-button{
    background-color:rgb(255, 183, 0);
    color: black;
    padding: 10px 100px;
    text-align: center;
    font-size: 13px;
    border: none;
    width: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover{
      background-color:rgb(250, 198, 68);
}

.signup-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 110px;
}

.upload-pic {
    width: 163px;
    font-size:10.73px;
}


.dietary-title{
    margin-right: 50px;
}

.login-space-div {
    width: 500px;
    height: 500px;
}

.errors {
    color: red;
    margin-bottom: 25px;
    font-size: 15px;
}