* {
    outline: none;
    font-family: sans-serif;
}

.comment-container {
    width: 750px;
    font-family: sans-serif;
    font-size: 16px;
}

.comment-container h3 {
    margin-bottom: 10px;
}

.comment-input-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.comment-input-section img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-right: 10px;
}

.comment-input {
    border: 1px black solid;
    height: 40px;
    width: 500px;
    padding-left: 5px;
    background: #fff;
    border-radius: 5px;
    margin-right: 30px;
    font-size: 16px;
}

.comment-submit {
    border: 1px black solid;
    background: rgb(0, 121, 125);
    color: #fff;
    height: 42.22px;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    border-style: outset;
    cursor: pointer;
    outline: 0;
    border: none;
}

.comment-submit:hover {
    background-color: rgb(2, 169, 175)
}

.comment-delete-btn {
    background: rgb(148, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    outline: 0;
    border: 1px solid black;
    border: none;
}

.comment-delete-btn:hover {
    background-color: rgb(201, 0, 0);
}

.comment-section {
    display: flex;
    flex-direction: column-reverse;
    width: 750px;
}

.comment-section li {
    margin-bottom: 20px;
}

.indiv-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indiv-comment-main {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.indiv-comment-main img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 10px;
}

.indiv-comment-body {
    display: flex;
    flex-direction: column;
}

.indiv-comment-body p {
    font-style: italic;
    margin-bottom: 10px
}

.indiv-comment-util-btns {
    margin-left: 70px;
}