* {
    margin: 0;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

html {
    background-color:rgb(252, 247, 241)
}

.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(121, 217, 207, 0);
    height: 50px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 6px -6px rgba(0,0,0,0.15)
}

.navbar-parent {
    background-color: rgba(121, 217, 207, 0.753);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    /* color: white; */
}

.navbar-left {
    display: flex;
    width: 280px;
    justify-content: space-between;
    align-items: center;
}

.navbar-left input {
    padding-left: 5px;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    margin-right: 11px;
    width: 150px;
}

.right-navbar-loggedin {
    display: flex;
    width: 200px; 
    justify-content: space-between;
}

.logout-btn {
    background: none;
    border: none;
    margin-right: 11px;
    cursor: pointer;
    outline: 0;
}

.search-parent {
    position: relative;
    display: inline-block;
    
}

.search-results {
    background-color: white;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
    width: 630px;
    border: 1px solid #cccbcb;
    border-radius: 5px;
}

.block {
    display: block;
}



.search-parent input {
    outline: none;
    padding: 0;
    height: 30px;
    width: 200px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    padding-left: 5px;
}

.search-item-name {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    /* overflow-x: hidden; */
    overflow-wrap: normal;
}

/* .result-item {
    padding-bottom: 20px;
    padding-left: 10px;
} */

.search-item-picture {
    display: flex;
}

.result-item-parent {
    height: 190px;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #efefef;
}

