* {
    margin: 0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html {
    background-color:rgb(252, 247, 241)
   
}

.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(121, 217, 207, 0);
    height: 50px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 6px -6px rgba(0,0,0,0.15);
    font-size: 16px;
    font-family: sans-serif;
}

.nav-logo {
    height: 50px;
    width: 204px;
}

.navbar-parent {
    background-color: #ef5d5d;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    min-width: 1280px;
    
}

.navbar-left {
    display: flex;
    width: 550px;
    justify-content: flex-start;
    align-items: center;
    
}

.NavBar a {
    color: black;
}

.NavBar a:hover {
    color: rgb(100, 100, 100);
}

.navbar-left input {
    padding-left: 5px;
    font-family: sans-serif;
    font-size: 13px;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    margin-right: 11px;
    width: 150px;
}

.right-navbar-loggedin {
    display: flex;
    width: 200px; 
    justify-content: space-between;
}

.logout-btn {
    background: none;
    border: none;
    margin-right: 11px;
    cursor: pointer;
    outline: 0;
    font-size: 16px;
}

.logout-btn:hover {
    color: rgb(100, 100, 100);
}

.search-parent {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}



.search-results {
    background-color: white;
    display: none;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
    max-height: 400px;
    width:fit-content;
    width: 343px;
    max-width: 350px;
    border: 1px solid #cccbcb;
    border-radius: 5px;
}

.query-p {
    font-size: 16px;
    padding: 10px;
}

.block {
    display: block;
}


.search-parent input {
    outline: none;
    padding: 0;
    height: 30px;
    width: 200px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    padding-left: 5px;
    border: 1px solid black;
}

.search-parent input[type=text] {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-parent input[type=text]:focus {
    width: 100%;
}

.search-item-name {
    display: flex;
    /* align-items: center; */
    width: 100%;
    justify-content: center;
    overflow-wrap: normal;
    flex-direction: column;
}

.search-item-name li {
    font-size: 14px;
    padding: 5px;
    max-width: 227px;
}

.search-item-picture {
    display: flex;
}

.search-item-picture img {
    border-radius: 5px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.result-item-parent {
    /* width: 600px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #efefef;
}

.navbar-profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #333;
    object-fit: cover;
}

.right-navbar-loggedin a {
    display: flex;
    align-items: center;
    border-right: 1px solid #000000;
    width: 110px;
}

#result-1 {
    color: gray;
    font-size: 12px;
}
