* {
    outline: none;
    font-family: sans-serif;
}

.event-create-form{
    margin-top:50px;
    flex-direction: column;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    justify-content: center;
    background: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
     margin-bottom: 120px;
}

.input-field-event-create{
    flex-direction: row;
    width: 180px;
    padding: 5px;
    border: 5px;
    border: 1px solid lightgray;
    justify-content: center;
    
}

.input-field-event-create-container{
    padding:10px;
    display: flex;
    justify-content: flex-end;
    margin-right:150px;
    
}

.event-create-header{
    text-align: center;
     font-family: 'roboto', sans-serif;
}

.event-create-label{
    font-size: 20px;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
}


.go-back{
    margin-top:10px;
    font-size:15px;
    padding: 5px;
    border-radius: 5px;
    color:black;
    width: 400px;
    margin-left: 105px;
    cursor: pointer;
    background-color: rgb(121, 163, 94);
}

.go-back:hover{
    background-color:  rgb(151, 179, 138);
    color:white;
}

.host-event-button{
    margin-top:20px;
    background-color: rgb(29, 102, 85);
    padding: 7px;
    color: white;
    width: 400px;
    border-radius: 5px;
    font-size:15px;
    margin-left: 105px;
    cursor: pointer;
}

.host-event-button:hover{
    background: rgb(30, 144, 117)
}
