.event-show-container{
    margin-top:20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.event-photo-show{
    display: flex;
    width: 100%;
    height: auto;
}

.event-info-show{
    margin-top:50px;
    margin-bottom:50px;
    display:flex;
    flex-direction: column;
    padding: 20px;
    padding-left:0px;
    font-family: sans-serif;
    font-size: 33px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#event-label{
    font-family: 'roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.delete-show-event-button{
    margin-top:20px;
    font-size:25px;
    padding: 5px;
    border-radius: 5px;
     background-color: rgba(232, 68, 76, 0.747);
     color:white;
     width: 250px;
}

.delete-show-event-button:hover{
    background-color: rgba(173, 26, 33, 0.747);
}

.edit-show-event-button:hover{
    background-color: rgb(121, 163, 94);
    color:white;
}

.goback-show-event-button:hover{
    background-color: rgb(121, 163, 94);
    color:white;
}

.edit-show-event-button{
    margin-top:20px;
    font-size:25px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(151, 179, 138);
    color:black;
     width: 250px;
}

.goback-show-event-button{
    margin-top:20px;
    font-size:25px;
    padding: 5px;
    border-radius: 5px;
     background-color:  rgb(151, 179, 138);
     color:black;
      width: 250px;
}