* {
    outline: none;
    font-family: sans-serif;
}

.event-show-container{
    margin-top:20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.event-photo-show{
    padding: 20px;
    height: 600px;
    width: 600px;
    object-fit: cover;
}

.event-info-show{
    margin-top:20px;
    padding: 20px;
    height: 560px;
    width: 560px;
    display:flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
}

#event-label{
    padding: 20px;
    padding-left: 0px;
    font-family: 'roboto', sans-serif;
    font-weight: bolder;
    font-size: 25px;

}

#event-label-des{
    overflow-wrap: break-word;
}

.delete-show-event-button{
    margin-top:10px;
    margin-bottom:30px;
    background-color: rgb(148, 0, 0);
    color: white;
    padding: 10px;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
}

.goback-show-event-button:hover{
    background-color:  rgb(151, 179, 138);
    color:white;
}

.delete-show-event-button:hover{
    background-color: rgb(201, 0, 0);
}


.edit-show-event-button{
    margin-top:10px;
    background-color: rgb(0, 121, 125);
    color: white;
    padding: 10px;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
}
.edit-show-event-button:hover{
    background-color: rgb(2, 169, 175);
}
.goback-show-event-button{
    margin-top:10px;
    padding: 10px;
    background-color: rgb(121, 163, 94);
    color:black;
    width: 250px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.event-index-login-first{
    text-align: center;
    justify-content: center;
    margin-top:30px;
    background-color: rgb(223, 164, 115);
    color: black;
    font-size: 16px;
    cursor: pointer;
    width: 230px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.event-index-login-first:hover{
    background-color: rgb(219, 131, 59);
}

.join-button{
    margin-top:10px;
    padding: 10px;
    background-color:  #F3B81E;
    color:black;
    width: 250px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.join-button:hover{
  background-color: #dda61c;
  color: white;
}

.hosting-text{
    color: white;
}


.join-show-event-button{
    margin-top:10px;
    padding: 10px;
    background-color: #F3B81E;
    color:black;
    width: 250px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.join-show-event-button:hover{
    background-color: #dda61c;
    color: black;
}


.unjoin-show-event-button{
    margin-top:10px;
    padding: 10px;
    background-color: rgb(148, 0, 0);
    color:white;
    width: 250px;
    font-size: 16px;
    cursor: pointer;
}

.unjoin-show-event-button:hover{
    background-color:rgb(201, 0, 0);
    color: white;
}