* {
    outline: none;
    font-family: sans-serif;
}

.index-events-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
     
    margin-bottom: 25px;
}

.event-index-photo{
    height: 300px;
    width: 300px;
    object-fit: cover;
    padding-right: 20px;
}

.event-index-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    width: 1280px;
}
.event-index-parent-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
    width: 95.5%;
}


.date-index{
    font-size: 25px;
   font-weight: bold;
}

.event-name{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

.event-name:hover{
    color: green
}

#event-index-info{
    font-size: 25px;
    font-weight: normal;
}

#index-header{
    background-color: #ef5d5d;
    margin-top: 40px;
    margin-bottom: 15px;
    color: black;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    padding: 15px;
    border-radius: 4px;
}

.index-unjoin-button {
    background: rgb(148, 0, 0);
    padding: 10px 50px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.index-unjoin-button:active, .index-unjoin-button:focus, .index-unjoin-button:hover  {
    border: none;
    background: rgb(201, 0, 0);
}

.index-participating-button {
    background: #00797d;
    padding: 10px 58px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.index-participating-button:hover {
    background:rgb(2, 169, 175);
}

.index-hosting-button {
    background: rgb(29, 102, 85);
    padding: 10px 45px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}

.index-hosting-button:hover {
    background: rgb(30, 144, 117);
}

.index-title{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    padding: 20px;
    color: #ffce53;
    font-weight: bolder;
}

.event-index-button-container {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: flex-end;

}

.event-index-description-list {
    width: 760px;
}

.event-index-description-list-nonuser {
    width: 600px;
}

.index-signin-button {
    background: rgb(29, 102, 85);
    padding: 10px 45px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
    left: 85px;
    border-radius: 5px;
}

.index-signin-button:hover {
    background:rgb(30, 144, 117);
}

.index-signin-text {
    color: white;
}

