.index-events-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.event-index-photo{
    padding: 20px;
    height: 300px;
    width: 300px;
    object-fit: cover;

}

.event-index-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin-top: 30px;
    border-radius: 20px;
}
.event-index-parent-info{
    display: flex;
    flex-direction: row;
     align-items: center;

}

.event-index-join-button{
    margin-right:170px;
    background-color: rgb(243,184,30);
    font-size: 25px;
    padding: 20px;
    font-family: sans-serif;
    border-radius: 5px;
}

.event-index-join-button:hover{
    background-color: darkgoldenrod;
    color:white;
}

.date-index{
    font-size: 25px;
   font-weight: bold;
}

.event-name{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

.event-name:hover{
    color: green
}

#event-index-info{
    font-size: 25px;
    font-weight: normal;
}

.index-header{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    margin-top: 50px;
    background-color:rgb(700,184,30);
    border-radius: 5px;
}

.index-title{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

.event-index-participating-button{
    margin-right:170px;
    background-color: rgb(29, 102, 85);
    color: white;
    font-size: 25px;
    padding: 20px;
    font-family: 'roboto', sans-serif;
    border-radius: 5px;
}