* {
    outline: none;
    font-family: sans-serif;
}

.main-app-div {
  min-height: 100%;
  margin-bottom: -30px;
}
.main-app-div:after {
  content: "";
  display: block;
}



.footer, .main-app-div:after {
  height: 30px;
}

.footer-list-div {
  height: 100%;
  width: 100%;
}

.footer-list {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(232, 231, 231);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: sans-serif;
  font-size: 14px;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer-list a {
  color: #ef5d5d;
}



