  * {
    outline: none;
    font-family: sans-serif;
  }
  .trending-recipes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;

    padding: 20px 30px 30px 30px;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 750px;
    
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
  }
  
  .home-page-recipe-images {
    width: 700px;
    height: 500px;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
  }

  .home-page-header-recipe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 0px 0px 15px 0px;
  }

  .home-page-header-recipe > h1 {
    display: flex;
    justify-content: flex-start;
    padding: 25px 25px 25px 0px;
  }

  .home-page-middle-container > h1 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 5px;
    margin: 0px;
  }

  .home-page-middle-container {
    padding-bottom: 20px;
    padding-top: 20px;
    border: rgb(250, 245, 245) solid 5px;
    margin-bottom: 30px;
  }
  
  .home-page-recipe-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: rgb(250, 245, 245) solid 5px;
    padding: 20px;
  }

  .home-page-recipe-bottom-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: 20px;
  }

  .home-page-recipe-bottom-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    padding-right: 20px;
    border-right: 2px solid rgb(250, 245, 245);
    font-size: 20px;

  }
  
  .home-page-recipe-bottom-author > h1 {
    display: flex;
    justify-content: center;
    font-size: 80%;
    padding: 0px;
    margin-top: 10px;
  }
  
  .home-page-recipe-bottom-description > p {
    padding: 10px;
    /* padding-top: 0px; */
    display: flex;
    align-self: flex-start;
    font-size: 18px;
    }

  .home-page-button-recipe {
    width: 150px;
    padding: 10px;
    margin-left: 330px;
    border: none;
    color: black;
    background-color: #F3B81E;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
  }

  .trending-events {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;

    padding: 20px 30px 30px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 750px;
    
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
  }
  
  .home-page-event-images {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .home-page-event-details-box {
    display: flex;
    justify-content: space-between;
    border: rgb(250, 245, 245) solid 5px;
    padding: 20px;
    margin-top: 0px;
    width: 700px;
    margin-right: 0px;
  }

  .trending-event-button{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .event-pic-and-info{
    display: flex;
    flex-direction: row;
    width: 700px
  }

  .home-page-event-details {
    display: flex;
    align-content: center;
    flex-direction: column;
    font-size: 18px;
    padding-left: 20px;
    width:345px;
    margin-right: 20px;
  }

  .home-page-event-container {
    display:flex;
    flex-direction: row;
    align-content: center;
    padding-right: 0px;
  }
  
  .home-page-author-image {
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 50%;   
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .home-page-header-event {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 0px 0px 15px 0px;
  }


  .home-page-button-event {
    padding: 10px;
    border: none;
    color: black;
    background-color: #F3B81E;
    font-weight: bold;
    cursor: pointer;
  }

  .home-page-button-recipe:hover{
      background-color:rgb(250, 198, 68);
  }

   .home-page-button-event:hover{
      background-color:rgb(250, 198, 68);
  }


  .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
  }
  
  .modal-child {
    position: absolute;
    width: 1800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
  }

  #event-info {
    font-weight: normal;
  }

  .signintojoin-button{
    padding: 10px;
    border: none;
    color: white;
    background-color: rgb(29, 102, 85);
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
  }

  .signintojoin-button:hover{
    background-color: rgb(30, 144, 117);
    color:white;
  }

  .event-text{
    font-family: "roboto", san-serif;
  font-size: 18px;
  padding: 0px;
  margin-top: 10px;
  }

  .header-event-trend{
    font-family: "roboto", san-serif;
    font-size: 20px;
    padding-bottom: 5px;
  }

  #close-x-modal{
    margin-left: 450px;
    margin-bottom: 100px;
    /* margin-bottom: -200px; */
  }

  .trending-unjoin-button {
    background-color: rgb(148, 0, 0);
    padding: 10px 50px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }

  .trending-unjoin-button:hover  {
    border: none;
    background-color: rgb(201, 0, 0);
  }
  
  .trending-participating-button {
    background-color: #00797d;
    padding: 10px 58px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
  }

  .trending-participating-button:hover {
    background-color: rgb(2, 169, 175);
  }
  
  .trending-hosting-button {
    background-color: rgb(29, 102, 85);
    padding: 15px 50px;
    font-weight: bold;
    font-size: 15px;
    color: black;
    line-height: 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .trending-hosting-button:hover {
    background-color: rgb(30, 144, 117);
  }