#add-recipe-button{
    background-color: #F3B81E;
    padding: 10px;
    color: black;
    width: 70%;
    border-radius: 5px;
    margin-left: 185px;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

#add-recipe-button:hover{
    background-color: #dda61c;
}

.recipe-profile-photo{
    padding: 20px;
    padding-bottom: 10px;
    width:350px;
    height:350px;
    object-fit: cover;
}

.recipe-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    padding-bottom: 13px;
    color: black;
}

.single-recipe-container{
    margin-top:30px;
    /* border: 1px solid black; */
    width: 390px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
}

.recipe-wrap{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
        justify-content: center;
}

.recipe-list {
    padding: 10px;
       
}