#add-recipe-button{
    background-color: rgb(29, 102, 85);
    padding: 10px;
    color: white;
    width: 70%;
    border-radius: 5px;
    margin-left: 185px;
    cursor: pointer;
}


.recipe-profile-photo{
    padding: 20px;
    padding-bottom: 10px;
    width:350px;
    height:350px;
    object-fit: cover;
}

.recipe-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    padding-bottom: 13px;
    color: black;
}

.single-recipe-container{
    margin-top:30px;
    border: 1px solid black;
    width: 390px;
    border-radius: 10px;
}

.recipe-wrap{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
        justify-content: center;
}

.recipe-list {
    padding: 10px;
}