* {
    outline: none;
    font-family: sans-serif;
}

#add-event-button{
    background-color: #F3B81E;
    padding: 10px;
    color: black;
    width: 70%;
    border-radius: 5px;
    margin-left: 185px;
    margin-top: 20px;
    border: none;
}

#add-event-button:hover{
  background-color: rgb(250, 198, 68);
}

.hosting-button{
    margin-right:170px;
    background-color: rgb(29, 102, 85);
    color: white;
    padding: 20px;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.hosting-button:hover{
 background-color: rgb(30, 144, 117);
}

.hosting-event-txt {
    color:white;
}

.participating-event-txt {
    color:white;
}


